
h1 {
  color: rgb(0, 0, 0);
  text-align: left;
}

h2 {
  color: rgb(0, 20, 65);
  font-family: ;
  font-weight: bolder;
  font-size: 5rem;
  text-align: left;
}

h3 {
  color: rgb(0, 0, 0);
  font-family: ;
  font-weight: 100;
  font-size: 3rem;
  text-align: justify;
}

h4 {
  color: rgb(0, 0, 0);
  font-family: ;
  font-size: 2rem;
  text-align: justify;
}

a, a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

.links {
  text-align: center; 
  font-size: 2rem;
  font-weight: bold; 
  color: rgb(0, 20, 65)
}
	
.normal {
  color: rgb(0, 0, 0); text-align: center;
  font-weight: normal;
}

.titulos {
  text-align: center; color: rgb(0, 0, 0); text-align: justify;
  margin: 0 auto;
  font-weight: bolder;
  width: 30em;
  font-size: 1.5rem;
}

#lista{
  color: rgb(0, 0, 0); 
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.lista2{
  color: rgb(0, 0, 0); 
  font-weight: normal;
  font-size: 1.5rem;
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.form-control{
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 16px;
}

body {
  background-image: url("simple-pattern-with-css3.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-color: lightblue;
  background-size: 1920px 1080px;
  color: rgb(12, 0, 0);

}

.titulouco {
  font-size: 80px;
  text-align: left;
  
}



